.game-menu {
  padding: 10px 50px;
}
.btn {
  width: 120px;
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.points-container,
.time-container {
  margin: 0 auto;
}
.time-left,
.scope {
  padding: 20px;
  font-size: 2em;
}
.game-veiw-port,
.results-table {
  background-color: bisque;
  height: 400px;
  min-width: 200px;
  padding: 10px;
  margin-right: 10px;
}
