.game-menu,
.manual {
  padding: 5px 10px;
  height: 132px;
}
.btn {
  width: 120px;
}
.btn:not(:last-child) {
  margin-right: 10px;
}
.points-container,
.time-container {
  margin: auto;
}
.time-left,
.scope {
  padding: 15px;
  font-size: 2em;
}
.game-veiw-port,
.results-table {
  background-color: bisque;
  height: 400px;
  min-width: 200px;
  padding: 10px;
}

.wrap:last-child {
  margin-left: 10px;
}
